body{
    text-align: center;
    background: #283149;
}

h1{
    font-size: 3rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
    margin: 0;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #da0463;
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
    text-transform: border;
}