body{
    text-align: center;
    background: #283149;
}

h1{
    font-size: 3rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
    margin: 0;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #da0463;
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
    text-transform: border;
}

a:hover{
    text-decoration: underline;
    color: #fff;
}

button{
    background: #131111;
    padding: 10px;
    border: none;
    border-radius: 10rem;
    border: #da0463 7px dotted;
    text-emphasis-style: bold;
}

button:hover{
    background: #da0463;
    color: #fff;
    border: #fff 7px dotted;
    transition: 0.9s;
    flex-grow: 3;
}

.border{
    min-height: 700px;
    width: 35%;
    border: 5px yellowgreen solid;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
    border-top-width:50px;
    border-bottom-width:20px;
    margin: auto;
    background: #000;
    margin-top: 20px;
}

footer{
    color: #DBEDF3;
    font-family: sans-serif;
    text-shadow: 0 3px #DA0463;
}

.set{
    margin: 10% auto;
}

.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}